$bg-color: rgb(105, 77, 77);
$font-color: white;
$primary-color: yellow;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 30px;


body {
  background-color: $bg-color;
  color: $font-color;
 

}

.navbar {
  border-bottom:  $primary-color 3px solid;
}

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;


  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }
  
  .home-inner {
    padding-top: 150px;
  }
  
  .card-form {
    opacity: 0.8;
  }

  .fa {
    color: $primary-color;
    background: white;
    padding: 4px;
    border-radius:  5px;
    font-size: $icon-size;
  }
  
}


#explore-section, #share-section {
  .fa {
    color: white;
    background: black;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-section {
  .fa {
    color: $primary-color;
    background: white;
    padding: 4px;
    border-radius:  5px;
    font-size: $icon-size;  
  }
}


















